<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <title>Session172formhelper</title>
  <%= stylesheet_link_tag  'application', media: 'screen', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
	<div id="wrapper">
		<%= render 'layouts/header_nav.html.erb'%>
		<%= yield %>
		<%= render 'layouts/sidebar.html.erb'%>
		<%= render 'layouts/footer.html.erb'%>
	</div>
</body>
</html>
